
:root{

    --primary-color: rgb(250, 229, 223);
    --secondary-color: rgb(69, 196, 90);
    --sidebar-margin-left: 20px;
    --primary-font-color: rgb(121, 117, 117);
}


body,
html {
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    color: var(--primary-font-color);
}


.grid-container{
    display: grid;
    grid-template-columns: 0.15fr 0.85fr;
}

.sidebar{
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    height: 100vh;
    background-color: var(--primary-color);
}


.sidebar > h1{
    
    margin-left: var(--sidebar-margin-left);
    margin-bottom: 10px;
    margin-top: 15px;
}

.sidebar > h4{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: var(--sidebar-margin-left);
    
}

.sidebar ul{
    list-style-type: none;
    padding-inline-start: 0;
    margin-left: var(--sidebar-margin-left);
    margin-bottom: 10px;
}

.sidebar li{
    margin-bottom: 10px;
}

.sidebar li:last-child{
    margin-bottom: 0;
}

.sidebar button{
    padding: 0;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: var(--primary-font-color);
}

.sidebar button:hover {
    color:  var(--secondary-color);
}

.sidebar button:focus {
    outline: none;
    color: rgb(24, 129, 41);
    
}

details#sidebar-details{
    margin-top: var(--sidebar-margin-left);
}

summary{

    margin-left: 5px;
}


