

:root{
    
    --primary-color: rgb(250, 229, 223);
    --secondary-color: rgb(69, 196, 90);
    --sidebar-margin-left: 20px;
    --primary-font-color: rgb(121, 117, 117);
    --primary-font: 'Shadows Into Light', 'Roboto', serif;
}



body,
html {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    color: var(--primary-font-color);
}

button:hover{
    background-color: rgb(69, 196, 90);
}

input,
select,
button{
    font-family: var(--primary-font);
}

#grid-container{
    display: grid;
    grid-template-columns: 0.15fr 0.85fr;
}



/* SIDEBAR COMPONENTS */

#sidebar{
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    min-height: 100vh;
    max-height: 100%;
    background-color: var(--primary-color);
}


#sidebar > h1{
    
    margin-left: var(--sidebar-margin-left);
    margin-bottom: 10px;
    margin-top: 15px;
}

#sidebar > h4{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: var(--sidebar-margin-left);
    
}

#sidebar ul{
    list-style-type: none;
    padding-inline-start: 0;
    margin-top: 0;
    margin-left: var(--sidebar-margin-left);
    margin-bottom: 10px;
}

#sidebar li{
    margin-bottom: 10px;
}

#sidebar li:last-child{
    margin-bottom: 0;
}

#sidebar button{
    padding: 0;
    font-family: var(--primary-font);
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: var(--primary-font-color);
}

#sidebar button:hover {
    color:  var(--secondary-color);
}

#sidebar button:focus {
    outline: none;
    color: rgb(24, 129, 41);
    
}

details#sidebar-details{
    cursor: pointer;
    margin-top: var(--sidebar-margin-left);
}

summary{

    margin-left: 5px;
}



/* DIALOG COMPONENTS */

::backdrop{
    opacity: 0.75;
    background-color: rgb(0, 0, 0);
}

.form-container label{
    font-size: 1rem;
}

dialog{
    border: none;
    background-color: var(--primary-color);
    padding: 30px;
}

.form-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

dialog h4{
    margin: 0;
    margin-bottom: 15px;
}




/* DISPLAY COMPONENTS */

#display{
    padding: 200px;
    padding-top: 50px;
}

#display-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
}

#header-container > h2{
    margin: 0;
    color: black;
}

#header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.display-item{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    
}

.display-item:hover{
    background-color: var(--primary-color);
}

#display button{
    cursor: pointer;
}

.display-item h3,
.display-item p{
    margin: 0;
    margin-bottom: 5px;
    font-size: 1rem;
}

.display-item p,
.display-item label{
    font-size: 0.75rem;
}

.button-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-group input{
    cursor: pointer;
}


.button-group button{
    width: 3rem;
    margin: 8px;
    cursor: pointer;
}
